<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<style media="screen">
  body{
    background-color: rgba(0, 0, 0, 0.4);
    margin: 50px;
  }

  h1{
    color: purple;
    font-family: helvetica;
    font-size: 30px;
  }

  h2{
    font-family: helvetica;
    
  }

  p{
    color: #000;
    font-family: helvetica, sans-serif;
  }

  span{
    font-weight: bold;
    font-family: helvetica,  monospace;
  }
</style>

    <title>My First Django blog</title>
  </head>
  <body>
<div class="">

  <h1><a href="#">Django Kai's Blog </a></h1>

  <h2>My Adventures with Django</h2>

</div>

    <div class="">
      <p> <span>published:</span> 14.06.2014, 12:14</p>

            <h2><a href="">My first encounter</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

<div class="">
  <p><span>published:</span> 14.06.2014, 12:14</p>

        <h2><a href="">My second encounter</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>


  </body>
</html>
